body {
  margin: 0px;
}

header > h1 {
  margin: 0px;
  padding: 10px 0px;
  background-color: rgb(82, 199, 76);
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: 'Anton', sans-serif;
  letter-spacing: 3px;
}
