.turnLabel {
  border: 1px solid grey;
  border-radius: 10px;
  background: rgb(221, 180, 169);
  text-align: center;
  max-width: 200px;
  margin: 20px auto;
  padding: 5px;
  font-family: 'Roboto Slab', serif;
}
