.turnLabel {
  border: 1px solid grey;
  border-radius: 10px;
  background: rgb(221, 180, 169);
  text-align: center;
  max-width: 200px;
  margin: 20px auto;
  padding: 15px 5px;
  font-family: 'Roboto Slab', serif;
}
.ai {
  color: rgb(232, 234, 236);
  font-weight: bolder;
  background-image: url('https://images.wallpapersden.com/image/wxl-cyborg-robot-figures_8261.jpg');
}
